/*=============== 
INDEX.HTML STYLES
================*/

/* VARIABLES */

:root {
  --bg-color: #FFF3B0;
  --nav-color: #335C67;
}

/* GENERAL STYLING START */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Ubuntu';
}

hr {
  color: black;
}

.header {
  background-color: var(--nav-color);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: .05em;
  
}

.header h1 {
  margin-left: 15px;
}

.title {
color:#E09F3E;
border-style: solid;
border-color:#E09F3E;
border-width: 5px;
padding: 10px;
}


.list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-right: 15px;
  list-style: none;
}

.list a {
  font-weight: bold;
  text-decoration: none;
  color: #E09F3E;
}


.list li {
  position: relative;
}

.list li::before {
  content: '';
  z-index: 5;
  height: 3px;
  width: 0%;
  background-color:#ffb347;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 300ms ease-out;
}

.list li:hover::before {
  width: 100%;
}

.list li a:hover {
  text-decoration: none;
  color: #ffb347;
  transition: 0.5s;
}

.welcome-card {
  padding: 20px;
  width: 50vw;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background: #E09F3E;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0, 0.25);
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
}

hr {
  border-style: solid;
  border-color: #540B0E;
  background-color: #540B0E;
  width: 50%;
  height: 3px;
}
/* AUDIO STYLING START */

.audio-container {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

/* VIDEO STYLING START */

.video-container1 {
  display: flex;
  justify-content: center;
  margin: 30px 30px;
}

.youtube-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px 30px;
}

/* CONTACT FORM STYLING START */

.contact-form-container {
  padding: 20px;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background: #E09F3E;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0, 0.25);
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 50vw;
}

.input-field {
  width: 50%;
  padding: 5px 5px;
  border-radius: 10px;
  border: 4px solid #540b0e;
}

button {
  background-color: #9E2A2B;
  color: whitesmoke;
  border: 2px solid #540b0e;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

button:hover {
  background-color: #9f3c3e;
  font-weight: bolder;
}

/* TODO: make button completely work*/

button a {
  text-decoration: none;
  color: whitesmoke;
}

.button1 {
  display: flex;
  justify-content: center;
  font-family: ubuntu;
}

footer {
  min-height: 100px;
  background-color: #335C67;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  border-style: solid;
  border-color: white;
  padding: 10px;
}

.footer-text h2,
.footer-text h3 {
  margin-top: 5px;
}

.footer-text h2 span {
  color: red;
  margin: 0 .2em;
  animation: infinite thump 1s;
}

.socials-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.social {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social svg {
  width: 35px;
  height: 30px;
  transition: all 200ms ease-in;
}

.social svg:hover {
  transform: scale(1.15);
}

/*================ 
ABOUT PAGE STYLING
=================*/

.about {
  display: flex;
  justify-content: center;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  background-color: white;
  margin-top: 30px;
  padding: 20px;
}

.about-image-container img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  object-position: top;
}

.button-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: space-evenly;
}

/*================= 
ANIMATION KEYFRAMES
==================*/

@keyframes thump {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.5);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5); 
  }
  40% {
    transform: scale(1);
  }
}